<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL_VIEW; ?>cadastrarservico/index.css">
<script src="<?php echo BASE_URL_VIEW; ?>cadastrarservico/index.js"></script>

<div class="conteudo">



</div>