<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL_VIEW; ?>cadastrarservico/index.css">
<script src="<?php echo BASE_URL_VIEW; ?>cadastrarservico/index.js"></script>

<div class="conteudo">

	<div class="area-formulario">
		<img src="<?php echo BASE_URL_VIEW_BASE; ?>arquivos/imagens/icones/eletricista.svg" id="logo-form">
		<font id="titulo-form">Preencha o formulário com seus dados!</font>
	</div>

	<form class="edit_marker" action="" method="post" data-marker-index="{{index}}">

		<!-- PRIMEIRA ETAPA : nome e trabalho -->
		<div class="primeira-etapa-form">
			<input type="text" 	name="" placeholder="Qual é o seu nome completo? *"									ng-model="nome_completo"  maxlength="100"	id="nome_completo">
			<input type="text" 	name="" placeholder="Como voce gostaria de ser chamado? *" 							ng-model="ser_chamado" 	  maxlength="100"	id="ser_chamado">
			<input type="text" 	name="" placeholder="Qual o nome da sua profissão? *"								ng-model="profissao" 	  maxlength="100"	id="profissao">
			<textarea 			name="" placeholder="Descreva com mais precisão quais serviços voce oferece... *" 	ng-model="descricao" 	  maxlength="500"	id="descricaoProf">
				
			</textarea>

			<input type="button" 		value="Prosseguir" 	id="mostrarSegundaParte" 	class="botao">
		</div>

		<!-- SEGUNDA ETAPA : CONTATO E LOCALIZACAO -->
		<div class="segunda-etapa-form" ng-init="estado='null'">
			<select name="estados-brasil" style="width: 42.5%;" ng-model="estado" id="estado">
				<option value="null">Qual é o seu estado?</option>
				<option value="AC">Acre</option>
				<option value="AL">Alagoas</option>
				<option value="AP">Amapá</option>
				<option value="AM">Amazonas</option>
				<option value="BA">Bahia</option>
				<option value="CE">Ceará</option>
				<option value="DF">Distrito Federal</option>
				<option value="ES">Espírito Santo</option>
				<option value="GO">Goiás</option>
				<option value="MA">Maranhão</option>
				<option value="MT">Mato Grosso</option>
				<option value="MS">Mato Grosso do Sul</option>
				<option value="MG">Minas Gerais</option>
				<option value="PA">Pará</option>
				<option value="PB">Paraíba</option>
				<option value="PR">Paraná</option>
				<option value="PE">Pernambuco</option>
				<option value="PI">Piauí</option>
				<option value="RJ">Rio de Janeiro</option>
				<option value="RN">Rio Grande do Norte</option>
				<option value="RS">Rio Grande do Sul</option>
				<option value="RO">Rondônia</option>
				<option value="RR">Roraima</option>
				<option value="SC">Santa Catarina</option>
				<option value="SP">São Paulo</option>
				<option value="SE">Sergipe</option>
				<option value="TO">Tocantins</option>
			</select>
			<input type="text" name="" 	placeholder="Qual a sua Cidade? *" 	id="cidade" maxlength="100"	ng-model="cidade" style="width: 42.5%;">
			<input type="text" name="" 	placeholder="Qual o seu Endereço? *" id="endereco"  maxlength="100"	ng-model="endereco">
			<input type="text" name="" 	placeholder="Qual o numero da sua residencia? *" id="numero_end"  maxlength="5" ng-model="numero_end" 	style="width: 42.5%;">
			<input type="text" name="" 	placeholder="Qual o seu telefone para contato? *" id="tel_contato" ng-model="contato" style="width: 42.5%;">
			<input type="text" name="" 	placeholder="Digite seu email, se houver." id="email" ng-model="email"  maxlength="150">

			<input type="button" 		value="Voltar" 		id="mostrarPrimeiraParte" 	class="botao">
			<input type="button" 		value="Prosseguir" 	id="mostrarTerceiraParte" 	class="botao">
		</div>
		
		<!-- TERCEIRA ETAPA : quando custa seu serviço, palavras chaves -->
		<div class="terceira-etapa-form">

			<font id="texto">Insira palavras chaves que serão vinculadas nas suas buscas. <i id="mostrarDetalhes">saiba mais!</i></font>
			<font id="detalhes"> 
				<p>As palavras chaves são palavras curtas que serão vinculadas as pesquisas na sua busca... <br>isto facilita que clientes lhe encontrem.</p>
				<p>Ex.: </p>
				<p>profissão: taxista.</p>
				<p>palavras chaves: carro, transporte, motorista, gol. </p>
			</font>
			<input type="text" name="palavrachave1" 	placeholder="palavra chave." id="palavrachave1" maxlength="15" ng-model="palavrachave1" style="width: 42.5%">
			<input type="text" name="palavrachave2" 	placeholder="palavra chave." id="palavrachave2" maxlength="15" ng-model="palavrachave2"  style="width: 42.5%">
			<input type="text" name="palavrachave3" 	placeholder="palavra chave." id="palavrachave3" maxlength="15" ng-model="palavrachave3"  style="width: 42.5%">
			<input type="text" name="palavrachave4" 	placeholder="palavra chave." id="palavrachave4" maxlength="15" ng-model="palavrachave4"  style="width: 42.5%">

			<input type="button" 		value="Voltar" 		id="mostrarSegundaParte2" 		class="botao">
			<input type="button" 		value="Finalizar"  	ng-click="cadastrarAutonomo()"	class="botao"  id="submit"  style="border: 2px solid white;">
		</div>

	</form>

	<div class="preview-pag">
		
		<font>Como voce vai aparecer no buscador:</font>
		<div class="preview-buscador">
			 <input type="" name="" placeholder="como voce será chamado..." value="{{ser_chamado}}" 										id="nome_autonomo" disabled>
			 <input type="" name="" placeholder="seu endereço." 			value="Endereço: {{cidade}} - {{endereco}} ,n°: {{numero_end}}" id="endereco" disabled>
			 <input type="" name="" placeholder="seu telefone." 			value="Contato: {{contato}}" 									id="contato" disabled>
			 <input type="" name="" placeholder="seu serviço." 				value="Serviço: {{profissao}}" 									id="profissao" disabled>
		</div>

		<font>Como será sua web-page:</font>
		<div class="preview-pagina">
			
		</div>

	</div>

</div>
