.conteudo{
    width:100%;
    height:100%;
    float:left;
    background-color: #ffcc33;
}

.conteudo #titulo-pag{
    margin-top: 150px;
    float: left;
    width: 100%;
    padding-left: 40px;
    color: #336699;
    font-family: 'Open Sans';
    font-size: 35px;    
}

.conteudo .escolha-form{
    width: 50%;
    height: auto;
    margin-top: 100px;
    float: left;
    cursor:pointer;
   color: #336699;
}

.conteudo .escolha-form:hover{
    color:white;
    transition:.5s;
}

.conteudo .escolha-form img{
    width: 30%;
    margin-left: 34%;
    float: left;
}

.conteudo .escolha-form font{
    float: left;
    width: 100%;
    text-align: center;
    font-family: Open Sans;
    font-size: 30px;   
}




/*------------ AREA FORMULARIO -----------------*/

.conteudo .area-formulario{
    float: left;
    width:100%;
    height:auto;
    margin-top:150px;
}

.conteudo .area-formulario #logo-form{
    width: 8%;
    float: left;
    padding-left: 25px;
}

.conteudo .area-formulario #titulo-form{
    font-size: 25px;
    font-family: 'Open Sans';
    color: #336699;
    margin: 40px;
    float: left;
    cursor:default;
}

.conteudo form {
    width: 60%;
    float: left;
    height: auto;
}

.conteudo form .primeira-etapa-form{
    display:block;
}

.conteudo form .segunda-etapa-form{
    display:none;
}

.conteudo form .terceira-etapa-form{
    display:none;   
}

.conteudo form input,textarea,select{
    height: 40px;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    float: left;
    border: none;
    padding-left: 10px;
    border-radius: 5px;
    font-family: 'Open Sans';
    -webkit-box-shadow: 10px 12px 38px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 12px 38px -19px rgba(0,0,0,0.75);
    box-shadow: 1px 12px 38px -19px rgba(0,0,0,0.75);
}

.conteudo form textarea{
    height: 135px;
}

.conteudo form .botao{
    width: 42.5%;
    font-size: 25px;
    background-color: #4774a2;
    color: white;
    font-family: 'Open Sans';  
    cursor:pointer;  
}

.conteudo form .botao:hover{
    transition: .5s;
    -webkit-box-shadow: 10px 12px 38px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 12px 38px -9px rgba(0,0,0,0.75);
    box-shadow: 1px 12px 38px -9px rgba(0,0,0,0.75);
}

.conteudo .preview-pag{
    float: left;
    width: 39%;
    height: auto;
    border-left: 1px solid #fff;
}

.conteudo .preview-pag font{
    color: #336699;
    font-family: 'Open Sans';
    float: left;
    width: 100%;
    font-size: 15px;
    padding-left: 10px;    
    -webkit-box-shadow: 10px 12px 38px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 12px 38px -19px rgba(0,0,0,0.75);
    box-shadow: 1px 12px 38px -19px rgba(0,0,0,0.75);
}

.conteudo .preview-pag .preview-buscador{
    width: 98%;
    height: 10%;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 5px;
    background-color:#fff;
    -webkit-box-shadow: 10px 12px 38px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 12px 38px -19px rgba(0,0,0,0.75);
    box-shadow: 1px 12px 38px -19px rgba(0,0,0,0.75);
}

.conteudo .preview-pag .preview-pagina{
    width: 98%;
    height: 40%;
    background-color: #fff;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 10px 12px 38px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 12px 38px -19px rgba(0,0,0,0.75);
    box-shadow: 1px 12px 38px -19px rgba(0,0,0,0.75);
}

.conteudo .preview-pag .preview-buscador #nome_autonomo{
    float: left;
    width: 100%;
    font-size: 15px;
    padding-left:20px;
    border: none;
    color: #336699;    
    cursor:default;
    border-radius:10px;
}

.conteudo .preview-pag .preview-buscador #endereco{
    color: #ffcd37;
    width: 65%;
    float: left;
    font-size: 12px;  
    padding-left:20px;
    border: none;
    color: #ffcc33;
    cursor:default;

}

.conteudo .preview-pag .preview-buscador #contato{
    color: #ffcd37;
    width: 35%;
    float: left;
    font-size: 12px;  
    padding-left:20px;
    border: none;
    color: #ffcc33;
    cursor:default;

}

.conteudo .preview-pag .preview-buscador #profissao{
    color: #ffcd37;
    width: 100%;
    float: left;
    font-size: 12px;   
    padding-left:20px;
    border: none;
    color: #ffcc33;
    cursor:default;
}

.conteudo .terceira-etapa-form #texto{
    cursor:default;
    color: #336699;
    float: left;
    width: 100%;
    font-family: 'Open Sans';
    font-size: 17px;
    padding-left: 40px;
}

.conteudo .terceira-etapa-form #mostrarDetalhes{
    cursor:pointer;
}

.conteudo .terceira-etapa-form #detalhes{
    cursor:default;
    display:none;
    color: #336699;
    float: left;
    width: 100%;
    font-family: 'Open Sans';
    font-size: 15px;
    padding-left: 40px;
}













