<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL_VIEW; ?>cadastrarservico/index.css">
<script src="<?php echo BASE_URL_VIEW; ?>cadastrarservico/index.js"></script>

<div class="conteudo">

	<font id="titulo-pag">Que tipo de serviço voce deseja cadastrar?</font>

	<a href="<?php echo BASE_URL; ?>public/cadastrarservico/formservicoempresa">
		<div class="escolha-form">
			<img src="<?php echo BASE_URL_VIEW_BASE; ?>arquivos/imagens/icones/gerente.svg">
			<font>quero cadastrar o serviço da minha empresa</font>
		</div>
	</a>

	<a href="<?php echo BASE_URL; ?>public/cadastrarservico/formservicoautonomo">
		<div class="escolha-form">
			<img src="<?php echo BASE_URL_VIEW_BASE; ?>arquivos/imagens/icones/eletricista.svg">
			<font>quero cadastrar o meu serviço autonomo</font>
		</div>
	</a>

</div>
