<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL_VIEW; ?>index/index.css">
<script src="<?php echo BASE_URL_VIEW; ?>index/index.js"></script>

<div class="banner">

	<center>
		<div class="botoes-banner">
				<div id="botao">
					<b>Quero contratar um serviço</b>
				</div>

			<a href="<?php echo BASE_URL ?>public/cadastrarservico">
				<div id="botao">
					<b>Quero cadastrar meu serviço</b>
				</div>
			</a>
		</div>
	</center>
	<font id="frase-de-efeito">
		<p>
			Procure alguem mais perto de voce para solucionar o seu problema.<br> 
			esta é a solução facil de quem precisa, feita por quem sabe fazer.
		</p> 
	</font>

	<img src='<?php echo BASE_URL_VIEW_BASE; ?>arquivos/imagens/maos apertando.png' id="imagem-fundo">

	<div class="seta-baixo">
		<center>
			<a href="#empresa"><img src='<?php echo BASE_URL_VIEW_BASE; ?>arquivos/imagens/icones/seta-baixo.png'/></a>
		</center>
	</div>

</div>

<div class="empresa" id="empresa">
	
</div>

<div class="contato" id="contato">
	
	<div class="rodape-contato">
		
	</div>
	
	<div class="div-contato">

		<form method="post" action="">
			
			<input type="text" 	 name="nome" 	placeholder="Digite seu nome">
			<input type="email"  name="email" 	placeholder="Digite seu email">
			<textarea 			 name="texto"	placeholder="Digite seu texto"></textarea>
			<input type="submit" name="enviar"  value="Mandar Mensagem" id="submit">
			
		</form>
		
	</div>

</div>