.banner {
	background-color:#336699;
	width:100%;
    height:100%;
}

.empresa{
    background-color:#ffcc33;
    width:100%;
    height:100%;    
}


.contato{
    background-color:#fff;
    width:100%;
    height:100%;    
}


.banner .botoes-banner{
	width:70%;
}

.banner #imagem-fundo{
    float: left;
    width: 101%;
    height: 35%;
    margin-left:-0.5%;
    margin-top: 50px;
}

.banner #frase-de-efeito{
    float:left;
    width:100%;
    height:15%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color:#fff;    
    cursor: default;
    font-size: 25px;
    margin-top:100px;
}

.banner .botoes-banner #botao {
    -webkit-box-shadow: 10px 12px 38px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 12px 38px -6px rgba(0,0,0,0.75);
    box-shadow: 1px 12px 38px -6px rgba(0,0,0,0.75);
    background-color: #ffcc33;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    position: relative;
    margin-left: 10%;
    margin-top: 8.5%;
    padding-top: 8px;
    cursor: pointer;
    font-size: 23px;
    color: #336699;
    width: 35%;
    height: 41px;
    float: left;
    z-index: 200;
}

.banner .botoes-banner #botao:hover{
	transition:.5s;
    background-color: #336699;	
    color:white;	
}

.banner .seta-baixo{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    text-align: -webkit-center;
}

.banner .seta-baixo img{
    cursor: pointer;
    border: none;
    height: 5%;
    margin-top: 1%;
}

.banner .seta-baixo img:hover{
    height: 6%;
    transition:.5s;
}


.contato .rodape-contato{
    width:30%;
    height:100%;
    float:left;
    background-color:#336699;
}

.contato .div-contato{
    width:65%;
    height:100%;
    float:left;
}

.contato .div-contato form{
    float:left;
    margin-top:250px;
    width:100%;

}


.contato .div-contato form input,textarea{
    width: 90%;
    float: left;
    margin-left: 5% !important;
    height: 8%;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ffcc33;
    padding-left: 10px;
    padding-top: 5px;
    font-family: 'Open Sans', sans-serif;
}

.contato .div-contato form textarea{
    height: 19%;
}

.contato .div-contato form #submit{
    background-color: #ffcc33;
    width: 40%;
    font-family: 'dooodleista', sans-serif;
    font-size: 45px;
    color: white;
    -webkit-box-shadow: 10px 7px 50px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 7px 50px -20px rgba(0,0,0,0.75);
    box-shadow: 1px 7px 50px -20px rgba(0,0,0,0.75);
    cursor: pointer;
}

.contato .div-contato form #submit:hover{
    transition: .5s;
    background-color:#336699;
    border:1px solid #336699;
    -webkit-box-shadow: 10px 7px 50px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 7px 50px -10px rgba(0,0,0,0.75);
    box-shadow: 1px 7px 50px -10px rgba(0,0,0,0.75);
}










