<meta charset="UTF-8">
<title> Preciso Serviços </title>
<div ng-app="myApp" ng-controller="namesCtrl">

<!-- IMPORTANDO AS PÁGINAS CSS BASE DO PROJETO -->
<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL_VIEW_BASE; ?>css/main.css">
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="<?php echo BASE_URL_VIEW_BASE; ?>javascript/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>


<!-- MENSAGEM DE ALERTA -->
<div class="mensagemAlerta">
	<div id="area-fechar">
		<font id="fecharMsgAlert">X</font>
	</div>
	<font id="textoMensagem"></font>
</div>

<!-- MENSAGEM DE SUCESSO -->
<div class="mensagemSucess">
	<div id="area-fechar">
		<font id="fecharMsgSucess">X</font>
	</div>
	<font id="textoMensagemSucess"></font>
</div>


<div class="topo" id="topo">
	
	<div class="area-logotipo" id="area-logotipo">
		<img src="<?php echo BASE_URL_VIEW_BASE;?>arquivos/imagens/logo.png" id='logotipo'>
		<img src="<?php echo BASE_URL_VIEW_BASE;?>arquivos/imagens/logo-azul.png" id='logotipo-azul' style="display:none;">
	</div>
	
	<div class="buscador" id="buscador">
		<input type="text" name="buscar" id="input-buscador" placeholder="Qual serviço voce deseja consultar?" ng-model="buscar">
		<div class="resultadoBusca" id="resultadoBusca">
			<ul>
			  <li type="none" ng-repeat="atributoBusca in resultadoBusca | filter:buscar | limitTo: 8">
			  <!-- | orderBy : rua do cliente  -->
			    <a href="{{ atributoBusca[0] }}"> 
			    	<font id="titulo">{{atributoBusca[1]}}</font> 
			    	<font id="descricao">{{atributoBusca[2]}}</font> 
			    	<font id="cargo"> serviço: {{atributoBusca[4]}}</font> 
			    </a>
			  </li>
			</ul>
		</div>
	</div>

	<div class="botoes-topo" id="botoes-topo">
		<center>
			<div id="botao-menu">
				Quero contratar um serviço 
			</div>
			<a href="<?php echo BASE_URL ?>public/cadastrarservico">
				<div id="botao-menu">
					Quero cadastrar meu serviço
				</div>	
			</a>
		</center>
	</div>

	<div id="menu-topo">
		<a href="<?php echo BASE_URL ?>public/#conteudo"><font id="topico-menu-inicio">Inicio</font></a>
		<a href="<?php echo BASE_URL ?>public/#empresa"><font id="topico-menu-empresa">Empresa</font></a>
		<a href="<?php echo BASE_URL ?>public/#contato"><font id="topico-menu-contato">Contato</font></a>
	</div>

</div>

<div class="conteudo" id="conteudo">
