
/*

COR PRINCIPAL 		=> #336699
COR SECUNDARIA 		=> #ffcc33

FONTE PRINCIPAL 	=> DOOODLEISTA
FONTE SECUNDARIO 	=> open sans regular

*/

body{
	margin:0 auto;
	padding:0 auto;
    overflow: hidden;	
}


/*---------------------------------------*/
/*FONTES --------------------------------*/
/*---------------------------------------*/

@font-face {
    font-family: dooodleista;
    src: url(Dooodleista.ttf) format("truetype");
}

/*---------------------------------------*/
/*BASE ----------------------------------*/
/*---------------------------------------*/

.topo{
    -webkit-box-shadow: 10px 7px 50px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 7px 50px -3px rgba(0,0,0,0.75);
    box-shadow: 1px 7px 50px -3px rgba(0,0,0,0.75);
    font-family:'dooodleista';
    background-color:#fff;
    position: relative;
    z-index: 100;
    height: 7em;
    width:100%;
    position:fixed;
}


.topo .buscador{
    float: left;
    border-radius: 5px;
    border: 1px solid #fdcb35;
    width: 37%;
    height: 44%;
    margin-top: 1em;
    margin-left: 1em;
}

.topo .buscador .resultadoBusca{
    display:none;
    background-color: white;
    width: 100%;
    height: 34em;
    float: left;
    border: 1px solid #ffcd36;
    border-top: 1px solid #d4d4d4;
    margin-top: -2px;
    margin-left: -1px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-radius-bottom: 5px;
}

.topo .buscador .resultadoBusca ul li{
    width: 100%;
    height: 3em;
    margin-top: 10px;
    float: left;
    text-decoration: none;
    cursor:pointer;
}

.topo .buscador .resultadoBusca ul li a{
    text-decoration: none;
    color:#336699;
    font-family: 'Open Sans', sans-serif;
}

.topo .buscador .resultadoBusca ul li #titulo{
    float: left;
    width: 100%;
    font-size: 15px;
}

.topo .buscador .resultadoBusca ul li #descricao{
    color: #ffcd37;
    width: 100%;
    float: left;
    font-size: 12px;
}

.topo .buscador .resultadoBusca ul li #cargo{
    color: #ffcd37;
    width: 100%;
    float: left;
    font-size: 12px;
}

.topo #menu-topo{
	float: right;
    height: 50%;
    width: 25%;
    padding-top: 2%;
    font-size: 36px;
}


.topo .area-logotipo{
    height: 100%;
    width: 30%;
    float:left;
}

.topo .botoes-topo{
	float:left;
	height:100%;
	width:45%;
	display:none;
}

.topo .botoes-topo #botao-menu{
    -webkit-box-shadow: 10px 12px 38px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 12px 38px -14px rgba(0,0,0,0.75);
    box-shadow: 1px 12px 38px -14px rgba(0,0,0,0.75);
    background-color: #336699;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    position: relative;
    margin-right: 50px;
    margin-top: 18px;
    padding-top: 13px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    width: 225px;
    height: 50px;
    float: left;
}

.topo .botoes-topo #botao-menu:hover{
	transition:.5s;
    background-color: #ffcc33;	
    -webkit-box-shadow: 10px 12px 38px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 12px 38px -10px rgba(0,0,0,0.75);
    box-shadow: 1px 12px 38px -10px rgba(0,0,0,0.75);
}

.topo #menu-topo font{
    margin-right: 1.2em;
    color: #336699;    
    float: left;
    cursor:pointer;
}

.topo #menu-topo font:hover{
	transition:.5s;
	color:#ffcc33;
}

.topo #logotipo{
    height: 80%;
    float: left;
    margin: 0.7em;
}

.topo #logotipo-azul{
    height: 80%;
    float: left;
    margin: 0.7em;
    display:none;	
}

.topo .buscador #input-buscador{
    width: 100%;
    height: 100%;
    border: none;
    float: left;
    font-size: 19px;
    padding-left:10px;
    color: #336699;
    border-radius:30px;
}

.conteudo{

}

.rodape{
	background-color:yellow;
}


/* ------------ MENSAGEM ALERT ------------ */
.mensagemAlerta{
    display: none;
    width: 40%;
    height: 20%;
    float: left;
    background-color: rgba(162, 0, 0, 0.89);
    position: absolute;
    z-index: 9999;
    border-radius: 10px;
    margin-left: 30%;
    margin-top: 2%;
    -webkit-box-shadow: 10px 12px 38px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 12px 38px -10px rgba(0,0,0,0.75);
    box-shadow: 1px 12px 38px -10px rgba(0,0,0,0.75);
    text-align:center;
}

.mensagemAlerta #area-fechar{
    width:100%;
    height:30%;
    float:left;
    border-radius:10px;
}

.mensagemAlerta #textoMensagem{
    float: left;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width:100%;
    text-align:center;
    cursor:default;
}

.mensagemAlerta #fecharMsgAlert{
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-right: 5px;
    margin-top: 5px;
    background-color: white;
    width: 5%;
    border-radius: 10px;
    color: #336699;
    cursor: pointer;
}

.mensagemAlerta #fecharMsgAlert:hover{
    transition:.5s;
    color:#ffcc33;
}

/* ------------ MENSAGEM SUCESS ------------ */
.mensagemSucess{
    display: none;
    width: 40%;
    height: 20%;
    float: left;
    background-color: rgba(51, 102, 153, 0.95);
    position: absolute;
    z-index: 9999;
    border-radius: 10px;
    margin-left: 30%;
    margin-top: 2%;
    -webkit-box-shadow: 10px 12px 38px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 12px 38px -10px rgba(0,0,0,0.75);
    box-shadow: 1px 12px 38px -10px rgba(0,0,0,0.75);
    text-align:center;
}
.mensagemSucess #area-fechar{
    width:100%;
    height:30%;
    float:left;
    border-radius:10px;
}
.mensagemSucess #textoMensagemSucess{
    float: left;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    cursor:default;
    width:100%;
    text-align:center;
}

.mensagemSucess #fecharMsgSucess{
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-right: 5px;
    margin-top: 5px;
    background-color: white;
    width: 5%;
    border-radius: 10px;
    color: #336699;
    cursor: pointer;
}

.mensagemSucess #fecharMsgSucess:hover{
    transition:.5s;
    color:#ffcc33;
}
